* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace
}

header {

    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 5px 100px;
    background: purple;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 99;
}

.navigation a {
    position:relative;
    font-size: 1.4em;
    margin-left: 50px;
    font-weight:700;
}

body {
    overflow:hidden;
    min-height: 100dvh;
    display:flex;
    flex-direction:column;
}

main {
    position:relative;
    flex-grow: 1;
    padding-top: 70px;
}


footer {

    background: black;
    color: white;
    padding: 20px 100px;
    text-align: center;
    width: 100%;

}


.footer .followbtn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid ; 
}

ul {
    list-style:none;
    padding:0;
}


.logo {
    width: 60px;
    height: 60px;
    object-fit:cover;
    border-radius: 50%;
    user-select:none
}

a {
    font-size:16px;
    text-decoration:none;
    transition: 0.6s;
}


a:hover {
    font-size: 24px;
    color:cornflowerblue;
    
}

a:active {

    color: cyan
}

a:visited {
    color:crimson
}

.imgsanimation {
    display:flex;
    flex: 1;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    padding-left: 30px;
    padding-right:30px;
    gap: 30px;
    overflow:hidden;
    position:relative;
    z-index:0;
}

.darkoverlay {
    position:absolute;
    inset: 0;
    background-color: black;
    opacity:0; 
    animation: DIMMER 4s ease-out forwards;
    z-index:1;
    
}
.pic {
    flex:1;
    width: 250px;
    border-radius: 12px;
    z-index:0;
}


.left {
    opacity:0;
    animation: riseUp 1.5s ease-out 0s forwards;
}

.right {
    opacity:0;
    animation: riseUp 1.5s ease-out 1s forwards;
}

.center {
    opacity:0;
    animation: slideDown 1.5s ease-out 0.5s forwards;
}

.welcome {
    color:white;
    position:absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    font-size:4em;
    transform: translate(-50%, -100vh);
    opacity: 0;
    animation: textDrop 1s ease-out 4.75s forwards; 
}


ul li::before {
    content: "📸";
    margin-right:8px;
    font-size: 1.2em
}


@keyframes riseUp {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes DIMMER {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.6;
    }
}


@keyframes textDrop {
    from {
        transform: translate(-50%, -100vh);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 0.6;
    }
}